.header {
  display: flex;
  justify-content: center; /* Centra horizontalmente los contenidos */
  align-items: center; /* Centra verticalmente los contenidos (si es necesario) */
}

.header img {
  width: 60%;
  max-width: 600px;
  margin: 40px 0; /* Solo margen vertical */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  max-width: 600px;
}

.join-game, .how-to-play {
  width: 100%;
  max-width: 600px; /* Ajusta este valor según tus necesidades */
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
}
