<div class="header">
    <img src="..\assets\chain_blanc.png" alt="Logo de Chain Reaction">
  </div>
  
  <div class="content">
    <button mat-raised-button color="primary" (click)="crearPartida()">
      Crear partida
    </button>
  
    <div class="join-game">
      <h2>Unir-se a partida</h2>
      <mat-form-field appearance="fill">
        <mat-label>Codi partida</mat-label>
        <input matInput [(ngModel)]="partyCode" (ngModelChange)="partyCode = $event.toUpperCase()" name="partyCode" required>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="unirsePartida()">
        Unir-se
      </button>
    </div>
  
    <div class="how-to-play">
      <button mat-raised-button color="primary" (click)="instructions()">
        Com jugar?
      </button>
    </div>
  </div>
  