<div class="header">
  <div class="logo-container">
    <h1>
      {{ isWinner ? 'Victoria' : (isEliminated ? 'GAME OVER' : 'Víctima') }}
    </h1>
  </div>
</div>


  <div class="game-container">
    <div class="target-player">
      <div *ngIf="isEliminated; else gamePlay">
        <img [src]="targetPlayer.image" alt="Foto del jugador objetivo" class="player-photo" [ngClass]="{'bw-filter': isEliminated && !isWinner}">
        <h2>{{ targetPlayer.name }}</h2>
      </div>
      <ng-template #gamePlay>
        <div *ngIf="targetPlayer?.image; else loading">
          <img [src]="targetPlayer.image" alt="Foto del jugador objetivo" class="player-photo">
          <h2>{{ targetPlayer.name }}</h2>
        </div>
        <ng-template #loading>
          <mat-spinner diameter="50"></mat-spinner>
        </ng-template>
      </ng-template>
    </div>
  
    <div class="players-info">
      <p>Has eliminat a {{ numKills }} jugadors</p>
    </div>
    <div class="game-info">
      <p>Jugadors vius: {{ remainingPlayers }} / {{ totalUsers }}</p>
    </div>

    <button *ngIf="!isEliminated && !isWinner; else returnHome" (click)="reportElimination()" class="mat-card-button submit-button">
      <mat-card>
        <mat-card-content>
          <div class="header-content">
            <h2>M'han eliminat</h2>
          </div>
        </mat-card-content>
      </mat-card>
    </button>
    <ng-template #returnHome>
      <button class="mat-card-button submit-button" (click)="goHome()" >
        <mat-card>
          <mat-card-content>
            <div class="header-content">
              <h2>Abandonar partida</h2>
            </div>
          </mat-card-content>
        </mat-card>
      </button>
    </ng-template>
    

    
  </div>
  