<!-- game.component.html -->
<div class="header">
    <img src="../assets/logo_blanc.png" alt="Logo de Chain Reaction">
  </div>
  
  <div class="game-container">
    <div class="target-player">
      <div *ngIf="isEliminated; else gamePlay">
        <div class="image-container">
          <img [src]="targetPlayer.image" alt="Foto del jugador objetivo" class="player-photo">
          <div class="overlay"><i class="fa fa-times" aria-hidden="true"></i></div>
        </div>
      </div>
      <ng-template #gamePlay>
        <div *ngIf="targetPlayer?.image; else loading">
          <img [src]="targetPlayer.image" alt="Foto del jugador objetivo" class="player-photo">
          <h2>{{ targetPlayer.name }}</h2>
        </div>
        <ng-template #loading>
          <mat-spinner diameter="50"></mat-spinner>
        </ng-template>
      </ng-template>
    </div>
  
  
    <div class="game-info">
      <p>Jugadors vius: {{ remainingPlayers }}</p>
    </div>

    <div *ngIf="!isEliminated; else returnHome" class="action-button">
      <button mat-raised-button color="warn" (click)="reportElimination()">M'han eliminat</button>
    </div>
    <ng-template #returnHome>
      <div class="action-button">
        <button mat-raised-button color="primary" (click)="goHome()">Abandonar partida</button>
      </div>
    </ng-template>
    

    
  </div>
  